data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

src/models/artifacts/*
src/rag/index/*
src/monitoring/artifacts/*
!src/models/artifacts/.gitkeep
!src/rag/index/.gitkeep
!src/monitoring/artifacts/.gitkeep

.env
.streamlit/secrets.toml

__pycache__/
*.pyc
venv/
.venv/
*.egg-info/

.ipynb_checkpoints/

.DS_Store
.vscode/
.idea/